<div class="container">
	<div class="row">
		<div class="col-xs-3">
	 		<%= render 'info', user: @user,now: ''%>
			<%= render 'books/form', book: @book %>
		</div>
		<div class="col-xs-9">
			<h1>Books</h1>
			<%= render 'books/index' , books: @books %>
		</div>
	</div>
</div>

