
<div class="container">
    <div class="row">
    	<%= render 'users/info',users:@user %>
    		<div class="col-lg-9">
			<h1>Books（投稿リスト）</h1>
		<table>
			<thead>
				<tr>
				 <th></th>
				 <th>Title</th>
				 <th>Opinion</th>
				</tr>
			</thead>



		    <tbody>
 	 		   	<% @books.each do |book| %>
	 			 	<tr>
	 			 	 <td> <%= attachment_image_tag book.user,:profile_image, :fill, 50, 50,format:'jpeg', fallback: "no_image.jpg",size:'50x50' %></td>
			    	 <td><%= book.title %></td>
			    	 <td><%= book.body %></td>
	  				</tr>
		    	<% end %>
	 		 </tbody>
		</table>
	</div>
</div>


</div>