<div class="container">
    <div class="row">
    	<%= render 'users/info',users:@user %>
    	<div class="col-lg-9">
    		<h1>Book detail</h1>
    		<tbody>
	 		 	<tr>
			 	 <td></td>
			  	 <td><%= @book.title %></td>
			   	 <td><%= @book.body %></td>
	  			</tr>
	 		 	</tbody>
    	</div>
    </div>
</div>
