
<iv class="container">
	<div class="row">
		<div class="toppage col-md-offset-3 col-md-6">
			<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers   !!</h1>
			<p>in <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers,</strong></p>
			<p>you can share and exchange your opinions,inpression,and emotions</p>
			<p>about various books!</p>
		</div>
   </div>

	<div class="row">
		<div class="top-btn-text col-xs-4 col-xs-offset-4">
		 <p><%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-block" %></p>
		 <P><%= link_to "Sign UP", new_user_registration_path, class: "btn btn-success btn-block" %></P>
		</div>
	</div>
</div>
